*{
    display: border-box;
}
.obdelnik{
    border: 3px solid black;
    width: 150px;
    height: 100px;
    background-color: yellow;
    margin: 5px;
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

.obdelnik:nth-child(2){
    background-color: tomato;
}
.obdelnik:nth-child(3){
    background-color: chartreuse;
}
.obdelnik:nth-child(4){
    background-color: chocolate;
}
.kontejner{
    border: 2px dashed red;
    background-color: sandybrown;
    padding: 5px;
}
.treti{
    /* flex-shrink: 3;
    order: 9; */
    display: none;
}
@media(min-width: 768px){
    .kontejner{
        display: flex;
        flex-wrap: wrap;
    }
    .obdelnik{
        /* flex-basis: calc(50% - 10px); */
        flex-basis: 40%;
        flex-grow: 1;
    }
    .treti{
        display: block;
    }
}
@media (min-width: 992px){
    .obdelnik{
        flex-basis: 25%
    }
}
/* .kontejner{
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;
    /* flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
    
    
}
 */
/* .obdelnik{
    /* flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 100px; 

}
.druhy{
    /* flex-shrink: 1;
    order: -1; 
    
} */
/* .ctvrty{
    /* flex-grow: 3;
} 
} */


/* body{
    background-color: rgb(77, 77, 77);
    color: rgb(255, 255, 255);
}

h2{
    text-align: center;
    height: 220px;
    line-height: 220px;
    margin: 0;
    padding: 0;
}
.cards{
    display: flex;
    justify-content: space-between;

}

.one, .two, .tree{
    width: 350px;
    height: 220px;
    background-color: rgb(253, 253, 253);
    margin: 20px;
    color: rgb(223, 223, 223);
}

.description{
    color: #fff;
} */
